## Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.naive_bayes import GaussianNB

## Importing the dataset

In [2]:
dataset = pd.read_csv('datasetfinal.csv')
dataset

,Sn,movie_title,director_name,actor_1_name,actor_2_name,actor_3_name,genres,imdb_score,budget,gross,profit_percent,Hit/Flop
0,1,Avatar,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action|Adventure|Fantasy|Sci-Fi,7.9,237000000,760505847,2.208885,HIT
1,2,Pirates of the Caribbean: At World's End,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action|Adventure|Fantasy,7.1,300000000,309404152,0.031347,HIT
2,3,Spectre,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action|Adventure|Thriller,6.8,245000000,200074175,-0.183371,FLOP
3,4,The Dark Knight Rises,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action|Thriller,8.5,250000000,448130642,0.792523,HIT
4,6,John Carter,Andrew Stanton,Daryl Sabara,Samantha Morton,Polly Walker,Action|Adventure|Sci-Fi,6.6,263700000,73058679,-0.722948,FLOP
...,...,...,...,...,...,...,...,...,...,...,...,...
3883,5033,Primer,Shane Carruth,Shane Carruth,David Sullivan,Casey Gooden,Drama|Sci-Fi|Thriller,7.0,7000,424760,59.680000,HIT
3884,5034,Cavite,Neill Dela Llana,Ian Gamazon,Edgar Tancangco,Quynn Ton,Thriller,6.3,7000,70071,9.010143,HIT
3885,5035,El Mariachi,Robert Rodriguez,Carlos Gallardo,Peter Marquardt,Consuelo Gómez,Action|Crime|Drama|Romance|Thriller,6.9,7000,2040920,290.560000,HIT
3886,5037,Newlyweds,Edward Burns,Kerry Bishé,Caitlin FitzGerald,Daniella Pineda,Comedy|Drama,6.4,9000,4584,-0.490667,FLOP
3887,5042,My Date with Drew,Jon Gunn,John August,Brian Herzlinger,Jon Gunn,Documentary,6.6,1100,85222,76.474545,HIT

## Spliting of the dataset into X(independent variable) and y(dependent variable)

In [3]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 11].values

## Encoding categorical data
## Encoding the independent data

In [4]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
number = LabelEncoder()
nameencoder = LabelEncoder()
actor1encoder = LabelEncoder()
actor2encoder = LabelEncoder()
actor3encoder = LabelEncoder()
genresencoder = LabelEncoder()
imdbscoreencoder = LabelEncoder()
budgetencoder = LabelEncoder()
grossencoder = LabelEncoder()
profitencoder = LabelEncoder()

# Encoding each categorical features

In [5]:
dataset['director_name'] = nameencoder.fit_transform(dataset['director_name'])
dataset['actor_1_name'] = actor1encoder.fit_transform(dataset['actor_1_name'])
dataset['actor_2_name'] = actor2encoder.fit_transform(dataset['actor_2_name'].astype(str))
dataset['actor_3_name'] = actor3encoder.fit_transform(dataset['actor_3_name'].astype(str))
dataset['genres'] = genresencoder.fit_transform(dataset['genres'])

features = ["director_name", "actor_1_name", "genres", "imdb_score", "budget", "gross", "profit_percent"]

# Encoding the Dependent variable

In [6]:
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)

# Spliting the dataset into the Training set and Test set

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(dataset[features], y, test_size = 0.2, random_state = 0)

# Scaling the data

In [8]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Create a Gaussian Classifier

In [9]:
model = GaussianNB()

# Train the model using the training sets

In [10]:
model.fit(X_train, y_train)

GaussianNB()

# Predict values using the testing set

In [11]:
nb_predict_train = model.predict(X_test)

# Import the performance metrics

In [12]:
from sklearn import metrics

# Predict Output

In [13]:

actor_name= input("Director Name        : ")
director_name= input("Actor Name           : ")
genre= input("Genre                : ")
imdb_rating= float(input("IMDB Rating          : "))
budget= float(input("Budget               : "))
gross= float(input("Gross                : "))
profit_percent= float(input("Profit Percentage   : "))
# predict=["James Cameron","CCH Pounder","Action|Adventure|Fantasy|Sci-Fi",7.9,237000000, 760505847, 0.031347]
# predict=["Sam Mendes","Christoph Waltz","Action|Adventure|Thriller",6.8,245000000,200074175,-0.183370714]
# predict=["Andrew Stanton","Daryl Sabara", "Action|Adventure|Sci-Fi",6.6,263700000,73058679,-0.722947747]
# predict=["James Cameron","Daryl Sabara","Action|Adventure|Thriller",5.5,26589565,584565,0.032]

predict=[actor_name,director_name,genre,imdb_rating,budget,gross,profit_percent]

ValueError: could not convert string to float: ''

In [ ]:
predict[0] = nameencoder.transform([predict[0]])
predict[1] = actor1encoder.transform([predict[1]])
predict[2] = genresencoder.transform([predict[2]])

# Scale or normalize the data

In [ ]:
predict = scaler.transform([predict])
prediction = model.predict(predict)

C:\Users\Rahil\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
<__array_function__ internals>:5: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

# Accuracy Score

In [ ]:
if prediction == 1:
    print("HIT")
else:
    print("FLOP")
    
          
# Accuracy
print("ACCURACY: {0:.4f}".format(metrics.accuracy_score(y_test, nb_predict_train)))
print()

FLOP
ACCURACY: 0.8985